@{ViewData["titleHeader"] = "Off Code Manage";}
<section id="main-content">
<section class="wrapper">

 <div class="row">
<div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                         مدیریت مواد اولیه
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal tasi-form" method="POST" action="OffManage"  id="offCode-form-submit">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">کد :</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">مبلغ :</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">زمان پایان :</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="endtime">
                                        </div>
                                    </div>

                              <button  type="submit" class="btn btn-lg btn-primary" id="offCode-btn-submit">ثبت </button>
                              <script>
                                  $('#offCode-btn-submit').confirm({
                                     title:"هشدار",
                                    content:"از انچام این عملیات مطمئن هستید؟",
                                    buttons:{
                                    بله:function(button){
                                    $("#offCode-form-submit").submit();
                                        },
                                    خیر: function(button) {
                                        }}
                                            });
                              </script>
                                </form>
                            </div>
                        </section>
 </div>

                  <div class="col-lg-12" style="margin-top:20px">
                        <section class="panel">
                          <div class="panel-body progress-panel">
                              <div class="task-progress">
                                  <h1>مواد غذایی</h1>
                              </div>
                          </div>
                          <table class="table table-striped border-top" id="sample_1">
                                <thead>
                                    <tr>
                                        <th style="width: 8px;">
                                         شماره
                                        </th>
                                        <th>کد</th>
                                        <th class="hidden-phone">زمان ساخت</th>
                                        <th class="hidden-phone">زمان پایان</th>
                                        <th class="hidden-phone">مبلغ</th>
                                        <th class="hidden-phone">وضعیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                      @if(ViewBag.offCode_list!=null){
                                            @foreach (var item in ViewBag.offCode_list.OffCodes)
                                            {
                                       <tr class="odd gradeX">
                                        <td>
                                            @item.id
                                        </td>
                                        <td>@item.code</td>
                                        <td class="hidden-phone">@item.createTime</td>
                                        <td class="hidden-phone">@item.endTime</td>
                                        <td class="hidden-phone">@item.amount</td>
                                    @if(item.active){
                                        <td class="center hidden-phone"><a class="btn btn-md btn-primary display-4"  href="~/setting/offCodeStatus/@item.id">فعال</a></td>
                                    }else{
                                        <td class="center hidden-phone"><a class="btn btn-md btn-warning display-4" href="~/setting/offCodeStatus/@item.id">غیر فعال</a></td>
                                    }
                                    </tr>
                                      }
                                      }
                                </tbody>
                            </table>
                            
                      </section>
                      </div>
                      </div>


</section>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/data-tables/DT_bootstrap.js"></script>
<script >
         // begin first table
        $('#sample_1').dataTable({
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "قبلی",
                    "sNext": "بعدی"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }]
        });

        jQuery('#sample_1 .group-checkable').change(function () {
            var set = jQuery(this).attr("data-set");
            var checked = jQuery(this).is(":checked");
            jQuery(set).each(function () {
                if (checked) {
                    $(this).attr("checked", true);
                } else {
                    $(this).attr("checked", false);
                }
            });
            jQuery.uniform.update(set);
        });

        jQuery('#sample_1_wrapper .dataTables_filter input').addClass("form-control"); // modify table search input
        jQuery('#sample_1_wrapper .dataTables_length select').addClass("form-control"); // modify table per page dropdown
</script>
